@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  background-image: url('/background.png');
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  caret-color: #06F108;
}
@keyframes blink{
  0% {opacity:0.5;}
  100% {opacity:1;}
}
.blinking{
  animation:blink 1s ease-in-out infinite alternate;
}