.rightArrow {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;

  border-left: 18px solid #42B983;
}